functional-test/src/test/resources/wsdl/02_SGATE_XSD_v8.2.xsd

<?xml version="1.0" encoding="utf-8" ?>
	<!-- Ancitel S.p.A. sgate.xsd v. 8.2 15-06-2009 -->
<xs:schema xmlns:sgate="http://www.sgate.ancitel.it/xsd/" elementFormDefault="qualified" targetNamespace="http://www.sgate.ancitel.it/xsd/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- INIZIO Definizione dei tipi primitivi -->
	<xs:simpleType name="tipoNumerico">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse" />
			<xs:pattern value="(\d)+" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoAlfaNumerico">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse" />
			<xs:pattern value="(\d|[a-z]|[A-Z])+" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoSesso">
		<xs:restriction base="xs:string">
			<xs:length value="1" />
			<xs:pattern value="M|F" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoCodiceFiscale">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Z0-9]){16}|(\d){11}" />
			<xs:maxLength value="16" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoCap">
		<xs:restriction base="sgate:tipoNumerico">
			<xs:length value="5" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoIstat">
		<xs:restriction base="sgate:tipoNumerico">
			<xs:length value="6" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoCharMax80">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="80" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoProtocollo">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="20" />
			<xs:pattern value="([a-zA-Z0-9])*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoProtocolloEnte">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="35" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoPod">
		<xs:restriction base="sgate:tipoAlfaNumerico">
			<xs:maxLength value="15" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoNumeroPresa">
		<xs:restriction base="sgate:tipoAlfaNumerico">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoNumeroCivico">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoCodiceAgevolazione">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10" />
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<!-- FINE Definizione dei tipi primitivi -->
	<xs:complexType name="tipoMittente">
		<xs:annotation>
			<xs:documentation>
				Dati del mittente che sta effettuando la chiamata al web
				services
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="codiceDistributore" type="xs:string" />
			<xs:element name="login" type="xs:string" />
			<xs:element name="password" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoDatiPersonali">
		<xs:annotation>
			<xs:documentation>
				Dati anagrafici del cittadino
    	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nome" type="sgate:tipoCharMax80" />
			<xs:element name="cognome" type="sgate:tipoCharMax80" />
			<xs:element name="codiceFiscale" type="sgate:tipoCodiceFiscale" />
			<xs:element name="dataNascita" type="xs:date" />
			<xs:element minOccurs="0" name="istatResidenza">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoIstat">
						<xs:length value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="indirizzoResidenza">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="civicoResidenza" type="sgate:tipoNumeroCivico" />
			<xs:element minOccurs="0" name="capResidenza">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoCap">
						<xs:length value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="istatDomicilio">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoIstat">
						<xs:length value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="indirizzoDomicilio">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="civicoDomicilio">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoNumeroCivico">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="capDomicilio">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoCap">
						<xs:length value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="istatPostale">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoIstat">
						<xs:length value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="indirizzoPostale">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="civicoPostale" type="sgate:tipoNumeroCivico" />
			<xs:element minOccurs="0" name="capPostale">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoCap">
						<xs:length value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="telefono">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoNumerico">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="cellulare">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoNumerico">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoDatiPersonaliEstesi">
		<xs:annotation>
			<xs:documentation>
				Dati anagrafici del cittadino, rispetto a tipoDatiPersonali
				sono previsti un maggior numero di informazioni
    	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nome" type="sgate:tipoCharMax80" />
			<xs:element name="cognome" type="sgate:tipoCharMax80" />
			<xs:element name="sesso" type="sgate:tipoSesso" />
			<xs:element name="codiceFiscale" type="sgate:tipoCodiceFiscale" />
			<xs:element name="dataNascita" type="xs:date" />
			<xs:element name="statoNascita" type="xs:string" />
			<xs:element name="istatNascita" nillable="true" type="sgate:tipoIstat" />
			<xs:element minOccurs="0" name="istatResidenza">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoIstat">
						<xs:length value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="indirizzoResidenza">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="civicoResidenza" type="sgate:tipoNumeroCivico" />
			<xs:element minOccurs="0" name="capResidenza">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoCap">
						<xs:length value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="istatDomicilio">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoIstat">
						<xs:length value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="indirizzoDomicilio">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="civicoDomicilio">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoNumeroCivico">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="capDomicilio">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoCap">
						<xs:length value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="istatPostale">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoIstat">
						<xs:length value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="indirizzoPostale">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="civicoPostale" type="sgate:tipoNumeroCivico" />
			<xs:element minOccurs="0" name="capPostale">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoCap">
						<xs:length value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="telefono">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoNumerico">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="cellulare">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoNumerico">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="numeroFax">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoNumerico">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="email">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="7" />
						<xs:maxLength value="120" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoCodiceDettaglio">
		<xs:sequence>
			<xs:element name="codice" type="xs:int" />
			<xs:element minOccurs="0" name="dettaglio" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoErrore">
		<xs:annotation>
			<xs:documentation>
				Identifica una casistica di errore
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tipologia">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="TEMPORANEO|PERMANENTE" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codice" type="xs:int" />
			<xs:element minOccurs="0" name="dettaglio" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoDisagioEconomico">
		<xs:annotation>
			<xs:documentation>
				Dati riguardo il disagio economico del cittadino, in
				particolare la certificazione ISEE
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identificativoISEE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="valoreISEE" type="xs:float" />
			<xs:element name="dataRilascioISEE" type="xs:date" />
			<xs:element name="dataScadenzaISEE" type="xs:date" />
			<xs:element name="componentiFamigliaAnagrafica" type="xs:int" />
			<xs:element minOccurs="0" name="oltreTreFigliCarico" type="xs:boolean" />
			<xs:element name="nucleoFamiliare" type="sgate:tipoNucleoFamiliare" />
			<xs:element name="utenzaDomesticaResidenti" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoDisagioFisico">
		<xs:annotation>
			<xs:documentation>
				Dati riguardo il disagio fisico del cittadino, in
				particolare la certificazione e il macchinario
				utilizzato
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="soggettoDisagiato" type="sgate:tipoDatiPersonaliEstesi" />
			<xs:element name="tipoMacchinario">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="DI|CI|ST" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="descrizioneMacchinario">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="macchinarioPressoPOD" type="xs:boolean" />
			<xs:element name="pesse" nillable="true" type="xs:boolean" />
			<xs:element name="tipoCertificato">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="ASL|DSN" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dataRilascioCertificato" type="xs:date" />
			<xs:element minOccurs="0" name="identificativoCertificato">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="utenzaDomestica" type="xs:boolean" />
			<xs:element minOccurs="0" name="dataInizioUsoMacchinario" type="xs:date" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoComponenteNucleo">
		<xs:sequence>
			<xs:element name="codiceFiscale" type="sgate:tipoCodiceFiscale" />
			<xs:element name="figlio" nillable="true" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoNucleoFamiliare">
		<xs:annotation>
			<xs:documentation>
				Elenco dei codici fiscali dei componenti che
				appartengono al nucleo familiare del cittadino che
				ha fatto richiesta di agevolazione
        	</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="codiceFiscaleComponente" type="sgate:tipoCodiceFiscale" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="componenteNucleo" type="sgate:tipoComponenteNucleo" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="tipoDomandaAgevolazione">
		<xs:annotation>
			<xs:documentation>
				Domanda di agevolazione relativa ad un cittadino
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="protocollo" type="sgate:tipoProtocolloEnte" />
			<xs:element name="tipologiaDomanda">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="PRIMA|RETRO|RETRO08|RETRO08NOPOD|RINNOVO" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dataPresentazione" type="xs:date" />
			<xs:element name="tipologiaDisagio">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="ECO|FIS" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="clienteDomestico" type="sgate:tipoDatiPersonaliEstesi" />
			<xs:element name="richiedente" nillable="true" type="sgate:tipoDatiPersonaliEstesi" />
			<xs:element minOccurs="0" name="numeroPresa" type="sgate:tipoNumeroPresa" />
			<xs:element name="pod" type="sgate:tipoPod" />
			<xs:element name="istatPod" type="sgate:tipoIstat" />
			<xs:element name="indirizzoPod">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="civicoPod" type="sgate:tipoNumeroCivico" />
			<xs:element name="capPod" type="sgate:tipoCap" />
			<xs:element name="potenza" type="xs:int" />
			<xs:element name="consensoTrattamentoDati" type="xs:boolean" />
			<xs:element minOccurs="0" name="datiDisagioEconomico" type="sgate:tipoDisagioEconomico" />
			<xs:element minOccurs="0" name="datiDisagioFisico" nillable="true" type="sgate:tipoDisagioFisico" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoRichiestaAgevolazione">
		<xs:annotation>
			<xs:documentation>
				Richiesta di agevolazione di tariffa elettrica.
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tipologiaDomanda">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="PRIMA|RETRO|RETRO08|RETRO08NOPOD|RINNOVO" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tipologiaDisagio">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="ECO|FIS" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codiceAgevolazione" type="sgate:tipoCodiceAgevolazione" />
			<xs:element minOccurs="0" name="componentiFamigliaAnagrafica" type="xs:int" />
			<xs:element minOccurs="0" name="dataInizio" type="xs:date" />
			<xs:element minOccurs="0" name="dataFine" type="xs:date" />
			<xs:element minOccurs="0" name="dataPrevistaInizioRetroattivita" type="xs:date" />
			<xs:element minOccurs="0" name="dataPrevistaFineRetroattivita" type="xs:date" />
			<xs:element minOccurs="0" name="dataLimiteRinnovo" type="xs:date" />
			<xs:element name="clienteDomestico" type="sgate:tipoDatiPersonali" />
			<xs:element minOccurs="0" name="numeroPresa" type="sgate:tipoNumeroPresa" />
			<xs:element name="pod" type="sgate:tipoPod" />
			<xs:element name="istatPod" type="sgate:tipoIstat" />
			<xs:element name="indirizzoPod">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="civicoPod" type="sgate:tipoNumeroCivico" />
			<xs:element name="capPod" type="sgate:tipoCap" />
			<xs:element name="potenza" type="xs:int" />
			<xs:element minOccurs="0" name="utenzaDomestica" type="xs:boolean" />
			<xs:element minOccurs="0" name="utenzaDomesticaResidenti" type="xs:boolean" />
			<xs:element minOccurs="0" name="soggettoDisagiatoFisicamente" type="sgate:tipoDatiPersonali" />
			<xs:element minOccurs="0" name="pesse" type="xs:boolean" />
			<xs:element name="giorniAgevolazioneAnno1" type="xs:int" />
			<xs:element name="giorniAgevolazioneAnno2" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoSegnalazioneVariazioneFamiglia">
		<xs:annotation>
			<xs:documentation>dati relativi alla richiesta di variazione del numero di componenti della famiglia anagrafica</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="protocolloRichiestaAgevolazione" type="sgate:tipoProtocollo" />
			<xs:element name="pod" type="sgate:tipoPod" />
			<xs:element name="componentiFamigliaAnagrafica" type="xs:int" />
			<xs:element name="dataDecorrenza" type="xs:date" />
			<xs:element name="codiceAgevolazione" type="sgate:tipoCodiceAgevolazione" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoSegnalazioneCessazione">
		<xs:annotation>
			<xs:documentation>dati relativi alla richiesta di cessazione dell'agevolazione di tariffa elettrica</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="protocolloRichiestaAgevolazione" type="sgate:tipoProtocollo" />
			<xs:element name="pod" type="sgate:tipoPod" />
			<xs:element name="dataCessazione" type="xs:date" />
			<xs:element name="motivoCessazione" type="sgate:tipoCodiceDettaglio" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoMessaggio">
		<xs:annotation>
			<xs:documentation>
				Rappresenta il singolo messaggio destinato al
				distributore
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="protocollo" type="sgate:tipoProtocollo" />
			<xs:choice>
				<xs:element name="richiestaAgevolazione" type="sgate:tipoRichiestaAgevolazione" />
				<xs:element name="segnalazioneCessazione" type="sgate:tipoSegnalazioneCessazione" />
				<xs:element name="segnalazioneVariazioneFamiglia" type="sgate:tipoSegnalazioneVariazioneFamiglia" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoLottoMessaggi">
		<xs:annotation>
			<xs:documentation>
				Rappresenta un lotto di messaggi destinati al
				distributore
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="idLotto">
				<xs:simpleType>
					<xs:restriction base="sgate:tipoNumerico">
						<xs:length value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numeroMessaggi" type="xs:int" />
			<xs:element name="listaMessaggi">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="messaggio" type="sgate:tipoMessaggio" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoRicezioneMessaggio">
		<xs:annotation>
			<xs:documentation>
				Esito della ricezione del messaggio
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="protocollo" type="sgate:tipoProtocollo" />
			<xs:element name="esito">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="OK|ERR" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="errore" type="sgate:tipoErrore" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoEsitoAgevolazione">
		<xs:annotation>
			<xs:documentation>
				Esito della validazione della richiesta di agevolazione
				effettuata dal distributore
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="protocolloRichiestaAgevolazione" type="sgate:tipoProtocollo" />
			<xs:element name="esito">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="OK|KO|ERR" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="dataInizioRetroattivita" type="xs:date" />
			<xs:element minOccurs="0" name="dataFineRetroattivita" type="xs:date" />
			<xs:choice minOccurs="0">
				<xs:element name="motivazioneKo" type="sgate:tipoCodiceDettaglio" />
				<xs:element minOccurs="0" name="errore" type="sgate:tipoErrore" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoEsitoSegnalazione">
		<xs:annotation>
			<xs:documentation>
				Esito relativo ad una segnalazione che il distributore
				ha preso in carico da SGATE
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="protocolloSegnalazione" type="sgate:tipoProtocollo" />
			<xs:element name="esito">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="OK|ERR" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="errore" type="sgate:tipoErrore" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoEsitoMessaggio">
		<xs:annotation>
			<xs:documentation>
				Rappresenta l'esito relativo ad un messaggio che il
				distributore a preso in carico da SGATE. Puo' contenere
				l'esito di una richiesta di agevolazione oppure l'esito
				di una segnalazione.
        	</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="esitoAgevolazione" type="sgate:tipoEsitoAgevolazione" />
			<xs:element name="esitoSegnalazione" type="sgate:tipoEsitoSegnalazione" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="tipoRichiestaPresaInCaricoLotto">
		<xs:annotation>
			<xs:documentation>
				Richiesta del distributore a SGATE di un lotto di
				messaggi.
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mittente" type="sgate:tipoMittente" />
			<xs:element name="idUltimoLottoRicevutoCorrettamente" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numeroMessaggi" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoRispostaPresaInCaricoLotto">
		<xs:sequence>
			<xs:element name="lottoMessaggi" nillable="true" type="sgate:tipoLottoMessaggi" />
			<xs:element name="dataMessaggioPiuVecchioInCoda" nillable="true" type="xs:date" />
			<xs:element name="numeroMessaggiInCoda" nillable="true" type="xs:int" />
			<xs:choice>
				<xs:element name="erroreGenerale" nillable="true" type="sgate:tipoErrore" />
				<xs:element name="ricezionePreseInCarico">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="ricezionePresaInCarico" type="sgate:tipoRicezioneMessaggio" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoInvioEsiti">
		<xs:annotation>
			<xs:documentation>
				Rappresenta l'input del metodo del web services che il
				distributore utilizza per inviare a SGATE gli esiti relativi
				ai messaggi presi in carico
    	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mittente" type="sgate:tipoMittente" />
			<xs:element name="listaEsiti">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="esito" type="sgate:tipoEsitoMessaggio" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoRicezioneEsiti">
		<xs:annotation>
			<xs:documentation>
				Esito SGATE relativi alla ricezione degli esiti del
				distributore
        	</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element minOccurs="0" name="erroreGenerale" type="sgate:tipoErrore" />
			<xs:element name="risultatiRicezioni">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="risultatoRicezione" type="sgate:tipoRicezioneMessaggio" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="tipoSegnalazioneDistributore">
		<xs:sequence>
			<xs:element name="protocolloDistributore" type="sgate:tipoProtocollo" />
			<xs:choice>
				<xs:element name="segnalazioneCessazione" type="sgate:tipoSegnalazioneCessazione" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoInvioSegnalazioni">
		<xs:annotation>
			<xs:documentation>
				Rappresenta l'input del metodo del web services che il
				distributore utilizza per inviare a SGATE gli esiti relativi
				ai messaggi presi in carico
    	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mittente" type="sgate:tipoMittente" />
			<xs:element name="listaSegnalazioni">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="segnalazioneDistributore" type="sgate:tipoSegnalazioneDistributore" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoEsitoInvioSegnalazioni">
		<xs:annotation>
			<xs:documentation>
				Esito SGATE relativi alla ricezione degli esiti del
				distributore
        	</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element minOccurs="0" name="erroreGenerale" type="sgate:tipoErrore" />
			<xs:element name="esitiSegnalazioni">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="esitoSegnalazione" type="sgate:tipoEsitoSegnalazione" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:element name="richiestaPresaInCaricoLotto" type="sgate:tipoRichiestaPresaInCaricoLotto" />
	<xs:element name="rispostaPresaInCaricoLotto" type="sgate:tipoRispostaPresaInCaricoLotto" />
	<xs:element name="invioEsiti" type="sgate:tipoInvioEsiti" />
	<xs:element name="ricezioneEsiti" type="sgate:tipoRicezioneEsiti" />
	<xs:element name="invioSegnalazioni" type="sgate:tipoInvioSegnalazioni" />
	<xs:element name="esitiInvioSegnalazioni" type="sgate:tipoEsitoInvioSegnalazioni" />
	<xs:complexType name="tipoRicevutaDomanda">
		<xs:annotation>
			<xs:documentation>
				Esito SGATE della ricezione della domanda di
				agevolazione
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="protocolloEnte" type="sgate:tipoProtocollo" />
			<xs:element name="protocolloSGATE" nillable="true" type="sgate:tipoProtocollo" />
			<xs:element name="esito">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="OK|ERR" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="errore" type="sgate:tipoErrore" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoDatiAgevolazione">
		<xs:sequence>
			<xs:element minOccurs="0" name="dataInizioRetroattivita" type="xs:date" />
			<xs:element minOccurs="0" name="dataFineRetroattivita" type="xs:date" />
			<xs:element minOccurs="0" name="dataInizioAgevolazione" type="xs:date" />
			<xs:element minOccurs="0" name="dataFineAgevolazione" type="xs:date" />
			<xs:element minOccurs="0" name="codiceAgevolazione" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoValutazioneDomanda">
		<xs:annotation>
			<xs:documentation>
				Esito SGATE della ricezione della domanda di
				agevolazione
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="protocolloEnte" type="sgate:tipoProtocollo" />
			<xs:element name="protocolloSGATE" nillable="true" type="sgate:tipoProtocollo" />
			<xs:element name="esito">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="AMMESSA|NON_AMMESSA|VALIDATA|NON_VALIDATA" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="motivoNonAmmissione" type="sgate:tipoCodiceDettaglio" />
				<xs:element name="motivoNonValidazione" type="sgate:tipoCodiceDettaglio" />
				<xs:element name="datiAgevolazione" type="sgate:tipoDatiAgevolazione" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoFileRichiesteSGATE">
		<xs:annotation>
			<xs:documentation>
				Rappresenta la struttura del file che contiene l'elenco
				di richieste di agevolazione e di segnalazioni che SGATE
				consegna al distributore
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="messaggio" type="sgate:tipoMessaggio" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoFileEsitiDistributore">
		<xs:annotation>
			<xs:documentation>
				Rappresenta la struttura del file che contiene gli esiti
				relativi ai messaggi che il distributore ha preso in
				carico da SGATE
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="esitoMessaggio" type="sgate:tipoEsitoMessaggio" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoFileRicezioniEsitiSGATE">
		<xs:annotation>
			<xs:documentation>
				Rappresenta la struttura del file che contiene
				informazioni circa la ricezione degli esiti inviati dal
				distributore
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="ricezioneMessaggio" type="sgate:tipoRicezioneMessaggio" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoFileInvioSegnalazioniDistributore">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="segnalazioneDistributore" type="sgate:tipoSegnalazioneDistributore" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoFileRicevuteInvioSegnalazioniSGATE">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="esitoSegnalazione" type="sgate:tipoEsitoSegnalazione" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoFileDomandeAgevolazione">
		<xs:annotation>
			<xs:documentation>
				Rappresenta la struttura del file che contiene l'elenco
				di domande di agevolazione che l'ente provinciale invia
				a SGATE
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="domanda" type="sgate:tipoDomandaAgevolazione" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoFileRicevuteDomande">
		<xs:annotation>
			<xs:documentation>
				Rappresenta la struttura del file che contiene
				informazioni circa la ricezione delle domande di
				agevolazione inviate dall'ente provinciale
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="ricevutaDomanda" type="sgate:tipoRicevutaDomanda" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoFileValutazioneDomande">
		<xs:annotation>
			<xs:documentation>
				Rappresenta la struttura del file che contiene
				informazioni circa la ricezione delle domande di
				agevolazione inviate dall'ente provinciale
        	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="valutazioneDomanda" type="sgate:tipoValutazioneDomanda" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="richiesteSGATE" type="sgate:tipoFileRichiesteSGATE" />
	<xs:element name="esitiDistributore" type="sgate:tipoFileEsitiDistributore" />
	<xs:element name="ricezioniEsitiSGATE" type="sgate:tipoFileRicezioniEsitiSGATE" />
	<xs:element name="invioSegnalazioniDistributore" type="sgate:tipoFileInvioSegnalazioniDistributore" />
	<xs:element name="ricevuteInvioSegnalazioniSGATE" type="sgate:tipoFileRicevuteInvioSegnalazioniSGATE" />
	<xs:element name="domandeAgevolazione" type="sgate:tipoFileDomandeAgevolazione" />
	<xs:element name="ricevuteDomande" type="sgate:tipoFileRicevuteDomande" />
	<xs:element name="valutazioneDomande" type="sgate:tipoFileValutazioneDomande" />
</xs:schema>